*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

header{
    background-color: #490808;
    text-align: center;   
    padding: 20px;

        
    h1{
        color: white;
        background-color: transparent;
    }
}

body{
    background-color: #050f29;
    p{
        color: white;
    }
}


img, p {
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    width: 80%;
   
}

section{
    background-color: rgb(11, 55, 122);
    border-radius: 15px;
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
