*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
    margin: 0;
    padding: 0;
    background: #050f29;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

header{
    background-color:#490808;
    text-align: center;   
    padding: 20px;

        
    h1{
        color: white;
        background-color: transparent;
    }
}



.img-cultura {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}

.texto-cultura {
   width: 90%;
    max-width: 500px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}

ul {
    padding: 20px;    
          
}

li {
    margin-bottom: 15px; 
    text-align: left; 
    
}


section{
    background-color: #262247;
    border-radius: 15px;
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


