*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
    margin: 0;
    padding: 0;
    background: #050f29;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

header{
    background-color:#490808;
    text-align: center;   
    padding: 20px;

        
}



.img-cultura {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.texto-cultura {
   width: 90%;
    max-width: 500px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}

ul {
    padding: 20px;    
          
}

li {
    margin-bottom: 15px; 
    text-align: left;
    max-width: 40rem; 
    
}


section{
    background-color: rgb(11, 55, 122);
    border-radius: 15px;
    display: flex;
    width: 50rem;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.H1{
    color: whitesmoke;
}

p{
    display: flex;
    align-items: center;
}

h2{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
img{
    position: relative;
}