* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

:root{
    font-size: 62.5%;
}

body {
   background:oklch(28.2% 0.091 267.935) ;
   font-size: 1.6rem;
   color: #FFF;
  
}

#page {
   max-width: 120rem;
   margin-inline: auto;
}

header {
   padding: block;
}

fieldset {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}


.informacoes-pessoais{
   div{
    margin-bottom: 2rem;
   }

    input {
    margin-top: .7rem;
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: none;
    color:oklch(26.2% 0.051 172.552);
    }

    input:focus {
    outline: 2px solid oklch(52.7% 0.154 150.069)
    }

    input::placeholder{
        color: oklch(27.4% 0.006 286.033);
    }

    input[type=file]{
        color: #FFF;
    }
    
}

.gostos-pessoais{
  & > div{
    margin-bottom: 1.5rem;
  } 
  
  select {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
  }

  & > div:nth-of-type(5){
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea{
        max-width: 30rem;
    }
  }
}

button {
    padding: 1rem;
    width: 10rem;
    background: oklch(52.7% 0.154 150.069);
    border-radius: 1rem;
    border: none;
    color: white;
    margin-bottom: 2rem;cursor: pointer;
    font-weight: bold;
}

button:hover{
    background:oklch(79.2% 0.209 151.711);
    transition: .4s;

}

@media(max-width>760px) {
    body{
        padding-inline: 1rem;
    }
}
.login-caixa {
    border-radius: 15px;
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
