body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #050f29;
        }
        .quiz-container {
            max-width: 600px;
            margin: auto;
            background: rgb(7, 36, 80);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .pergunta {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: rgb(11, 55, 122);
        }
        .pergunta label {
            display: block;
            margin-bottom: 8px;
            cursor: pointer;
        }
        h1 {
            text-align: center;
            color: whitesmoke;
        }
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        p{
            color: white;
        }

        input{
            color: white;
        }

        header{
            background-color: #490808;
            text-align: center;   
    padding: 20px;
        }